<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <!-- Logger configuration: PathLog can be absolute or relative to application base directory. -->
        <add key="PathLog" value="C:\\WHShark\\Logs" />
        <!-- Log file suffix (will be prefixed with yyyyMMdd). Example: _app.log -->
        <add key="LogFileName" value="_app.log" />
    </appSettings>
    <connectionStrings>
        <add name="ManagerAuth" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SecurityDB;Integrated Security=True;TrustServerCertificate=True;" />
        <add name="ManagerBusiness" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PerfumeShopDB;Integrated Security=True;TrustServerCertificate=True;" />
    </connectionStrings>
</configuration>